@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .left {
    margin-left: 3%;
}

.navbar .right {
    font-size: 20px;
    margin-right: 5%;
}

.navbar a {
    color: rgb(68, 66, 66);
    text-decoration: none;
    margin: 0 10px;
}

/* .navbar a:hover {
    text-decoration: blink;
} */

/* ------------------------------------------ */


.login-container {
    width: 400px;
    padding: 25px;
    background: rgb(248, 248, 248);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin: 25px auto; 
}
.login-container h2 {
    margin: 0 0 20px;
    font-size: 25px;
    color: #333;
}
.login-container label {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #333131;
}

.login-container span{
    float: right;
    margin-right: 3%;
}
.login-container input {
    width: 93%;
    padding: 13px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 15px;
}

.login-container button {
    width: 100%;
    padding: 14px;
    background: #16192c;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2%;
}
.login-container button:hover {
    background: #222f3f;
}
.login-container a {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-container {
        width: 90%;
        margin: 20px auto;
    }
}

.error-message, success-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
}


